#shape
{
    width: 200px;
    height: 200px;
    background-color: blue;
    display:none;
    position: relative;         
}
body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header
{
     text-align: center;
}